# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
pnpm-error.log*
yarn-debug.log*
yarn-error.log*
coverage
bower_components
package.json
package-lock.json
node_modules/
.npm
.pnpm
.idea/
.DS_Store
__tests__/*
!__tests__/util/*
examples/*
!examples/**/*.config.js
.run
.editorconfig
cache/
.github/
.eslintrc.json
*.md
.prettierrc